

.spot-list {
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
    border: 1px solid red
}

.spot-list div {
    display: flex;
    flex-direction: column;
}

.spot-list div header{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}

.spot-list div strong{
    margin-top: 10px;
    font-size: 24px;
    color: #444444
}

.spot-list  span{
    font-size: 15px;
    color: #999
}

ul.notifications {
    list-style: none;
    margin-bottom: 15px;

}
ul.notifications li {
    font-size: 16px;
    line-height: 24px;
}
ul.notifications li button{
    margin-right: 10px;
    border: 0;
    font-weight: bold;
    margin-top: 10px;
    background-color: #ffffff;
    cursor: pointer

}

ul.notifications li button.accept{
    color: #84c870
}
ul.notifications li button.reject{
    color: #e55e5e
}
