
.spot-list {
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
    border: 1px solid red;
    background: #fff;
    margin-top: 30px;
    border-radius: 4px;
    padding: 30px;
}

.spot-list div {
    display: flex;
    flex-direction: column;
}

.spot-list div header{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}

.spot-list div strong{
    margin-top: 10px;
    font-size: 24px;
    color: #444444
}

.spot-list  span{
    font-size: 15px;
    color: #999
}

ul.notifications {
    list-style: none;
    margin-bottom: 15px;

}
ul.notifications li {
    font-size: 16px;
    line-height: 24px;
}
ul.notifications li button{
    margin-right: 10px;
    border: 0;
    font-weight: bold;
    margin-top: 10px;
    background-color: #ffffff;
    cursor: pointer

}

ul.notifications li button.accept{
    color: #84c870
}
ul.notifications li button.reject{
    color: #e55e5e
}
.containerDashboard {
    width: 100%;
    height: 100vh;
  }
  
  .contentDashboard{
    width:100%;
    margin: 0 auto 0;
    max-width: 450px;
    background: #fff;
    margin-top: 30px;
    border-radius: 4px;
    padding: 30px;
  }
  
  .contentDashboard .spot-list > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .contentDashboard .spot-list form{
    display: flex;
    flex-direction: column
  }
  
  .contentDashboard .spot-list form label {
    font-size: 14px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .contentDashboard .spot-list form input{
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
  }
  
  button.btn{
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer
  }
  
  .contentDashboard .spot-list form label span{
    font-weight: normal;
    color: #999999;
    font-size: 12px;
  }
  
  button.btn:hover{
    background: #e14f50
  }
