.login{
    width: 100%;
    height: 100vh;
    background: #fff url('../../assets/background.jpg') no-repeat;
    background-size: cover; 
    float: left
}

#logo{
    width: 50px;
    height: 50px;
    margin: 20px;
    display: flex;
  }
  .containerLogin {
    padding-top: 70px;
    max-width: 450px;
    margin-left: 50px;
    width:100%;
    flex-direction: column;
    
  }
  
  .contentLogin{
    width:100%;
    background: #fff;
    margin-top: 30px;
    border-radius: 4px;
    padding: 30px;
  }
  
  .contentLogin > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .contentLogin form{
    display: flex;
    flex-direction: column
  }
  
  .contentLogin form label {
    font-size: 14px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .contentLogin form input{
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
  }
  
  .contentLogin button.btn{
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer
  }
  
  .contentLogin form label span{
    font-weight: normal;
    color: #999999;
    font-size: 12px;
  }
  
  .contentLogin button.btn:hover{
    background: #e14f50
  }

@media screen and (max-width: 600px){
  .containerLogin {
    max-width: 370px;
    padding-top: 10px;
    margin: auto
  }
                          
}